<div class="container hidden-xs hidden-s header">
  <div class="row">
    <div class="col-md-6">
      <a href="index.html" class="nav-item pull-left">Home</a>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a href="directions.html" class="nav-item pull-left">Directions</a>
    </div>
    <div class="col-md-6">
      <a href="videos.html" class="nav-item pull-right"> Videos</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a href="calendar.html" class="nav-item pull-left">Calendar</a>
    </div>
    <div class="col-md-6">
      <a href="gallery.html" class="nav-item pull-right">Gallery</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a href="about.html" class="nav-item pull-left">About</a>
    </div>
    <div class="col-md-6">
      <a href="links.html" class="nav-item pull-right">Links & Sponsors</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 pull-left">
      <a href="https://www.facebook.com/spookhollowmhmc" class="pull-left" title="Spook Hollow" target="_blank"><img src="https://badge.facebook.com/badge/280297465489341.253.31671871.png" alt="" /></a>
    </div>
    <div class="col-md-6 pull-right">
      <a href="https://www.facebook.com/M.H.MensClub" title="Marquette Heights Men&#039;s Club- Spook Hollow" target="_blank"><img src="https://badge.facebook.com/badge/352079567052.7702.2067006523.png" align="right" style="border: 0px;" alt="" /></a>
    </div>
  </div>
</div>

    <!-- END Navigation table -->
    <!-- end #header -->
