<div id="header">
    <table style="width:100%">
<tr>
    <td>
        <!-- HOME --> <a href="index.html"><img src="{{ site.baseurl }}/assets/images/home.png" alt="Home" name="Home" width="500" height="38" id="Home" title="Home" onmouseover="MM_swapImage('Home','','{{ site.baseurl }}/assets/images/home-on.png',1)" onmouseout="MM_swapImgRestore()" /></a>
    </td>
</tr>
<tr>
    <td>
        <!-- DIRECTIONS --> <a href="directions.html"><img src="{{ site.baseurl }}/assets/images/directions.png" alt="Directions" name="Directions" width="500" height="38" id="Directions" title="Directions" onmouseover="MM_swapImage('Directions','','{{ site.baseurl }}/assets/images/directions-on.png',1)" onmouseout="MM_swapImgRestore()" /></a>
    </td>
    <td>
        <!-- VIDEOS --> <a href="videos.html"><img src="{{ site.baseurl }}/assets/images/videos.png" aligh="right" alt="Videos" name="Videos" width="500" height="38" id="Videos" title="Videos" onmouseover="MM_swapImage('Videos','','{{ site.baseurl }}/assets/images/videos-on.png',1)" onmouseout="MM_swapImgRestore()" /></a>
    </td>
</tr>
<tr>
    <td>
        <!-- CALENDAR --> <a href="calendar.html"><img src="{{ site.baseurl }}/assets/images/calendar.png" alt="Calendar" name="Calendar" width="500" height="38" id="Calendar" title="Calendar" onmouseover="MM_swapImage('Calendar','','{{ site.baseurl }}/assets/images/calendar-on.png',1)" onmouseout="MM_swapImgRestore()" /></a>
    </td>
    <td>
        <!-- GALLERY --> <a href="gallery.html"><img src="{{ site.baseurl }}/assets/images/gallery.png" aligh="right" alt="Gallery" name="Gallery" width="500" height="38" id="Gallery" title="Gallery" onmouseover="MM_swapImage('Gallery','','{{ site.baseurl }}/assets/images/gallery-on.png',1)" onmouseout="MM_swapImgRestore()" /></a>
    </td>
</tr>
<tr>
    <td>
        <!-- ABOUT --> <a href="about.html"><img src="{{ site.baseurl }}/assets/images/about.png" alt="About" name="About" width="500" height="48" id="About" title="About" onmouseover="MM_swapImage('About','','{{ site.baseurl }}/assets/images/about-on.png',1)" onmouseout="MM_swapImgRestore()" /></a>
    </td>
    <td>
        <!-- LINKS --> <a href="links.html"><img src="{{ site.baseurl }}/assets/images/links_sponsors.png" alt="Links" name="Links" width="500" height="48" id="Links" title="Links" onmouseover="MM_swapImage('Links','','{{ site.baseurl }}/assets/images/links_sponsors-on.png',1)" onmouseout="MM_swapImgRestore()" /></a>
    </td>
</tr>
</table>
    <table style="width:100%">
        <tr>
            <td>
                <!-- SH_Facebook Badge START --> <a href="https://www.facebook.com/spookhollowmhmc" title="Spook Hollow" target="_blank"><img class="img" src="https://badge.facebook.com/badge/280297465489341.253.31671871.png" align="right" style="border: 0px;" alt="" /></a>
            </td>
        </tr>
        <tr>
            <td>
                <!-- MHMC_Facebook Badge START --> <a href="https://www.facebook.com/M.H.MensClub" title="Marquette Heights Men&#039;s Club- Spook Hollow" target="_blank"><img class="img" src="https://badge.facebook.com/badge/352079567052.7702.2067006523.png" align="right" style="border: 0px;" alt="" /></a>
            </td>
        </tr>
    </table>
    <!-- END Navigation table -->
    <!-- end #header -->
</div>
