<nav class="navbar navbar-inverse navbar-static-top hidden-md hidden-lg">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Spook Hollow & MC Manor</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Directions</a></li>
              <li><a href="#">Calendar</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Videos</a></li>
              <li><a href="#">Gallery</a></li>
              <li><a href="#">Links and Sponsors</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
