<div id="sidebar1">
      <h1>Admission</h1>
      <p><strong>Spook Hollow with M.C. Manor &amp; M.C. Nightmare</strong></p></strong></p>
      <p>General Admission: $25.00</p>
      <p>R.I.P. Speed Pass: $40.00</p>
      <hr />
      <h2 align="left">
          TICKETS AVAILABLE:
          <h2 align="center">
              ONLINE *with credit card*
              <h2 align="center">AT THE GATE *cash only* (ATM Available)</h2>
              <div style="font-family:Helvetica, arial;"><a href="https://spookhollow.ticketleap.com/2015/" style="text-transform: uppercase;background-color:#f96421;font-size:18px;border-radius: 3px;-moz-border-radius:3px;-webkit-border-radius:3px;display: inline-block;margin:0;text-align:center;text-decoration:none;font-weight:bold;color:#000000;font-family: arial,sans-serif !important;padding: 10px 20px;" target="_blank">Click Here to Purchase Tickets </a><br /><div style="font-size:8pt;margin-top:4px;"></div></div>
              <hr />
              <h1>Contact</h1>
              <p><a href="mailto:SpookHollow@yahoo.com">SpookHollow@yahoo.com</a></p>
              <p><a href="mailto:MarquetteHeightsMensClub@yahoo.com">MarquetteHeightsMensClub@yahoo.com</a></p>
              <!-- InstanceBeginEditable name="sidebar" -->
              <hr />
              <h1 align="center"><a href="{{site.baseurl}}/assets/files/pdf/SpookHollow2015Flyer.pdf" target="_blank">Print your own 2015 Flyer HERE</a></h1>
              <div align="center"></div>
              <!-- InstanceEndEditable -->
              <!-- end #sidebar1 -->
          </h2>
      </h2>
  </div>
